/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #2c3e50;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}



nav a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    background-color: #34495e;
    border-radius: 8px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #1abc9c;
}
