body{
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.navbar{
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: white;
    color: black;
}

.section{
    padding: 100px 20px;
    height: 100vh;
}

.section h2{
    text-align: center;
}

.spacer{
    height: 60px;
}